.gray {
    -fx-background-color: rgba(78, 23, 34, 0.5);
}

.btn:hover {
    -fx-border-color: #3B3B46;
    -fx-border-width: 0px 0px 3px 0px;
}

.btn {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: rgba(0, 0 , 0, 0);
}

.image {
    -fx-background-image: url(background.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.StudyImage {
    -fx-background-image: url(reading-book.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.LoGoImage {
    -fx-background-image: url(cloud.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.RoundImage {
    -fx-background-image: url(round.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.white {
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.firstColor {
    -fx-background-color: rgba(161, 181, 200, 0.5);
}

.secondColor {
    -fx-background-color: rgba(120, 120, 120, 0.5);

}

.thirdColor {
    -fx-background-color: rgba(40, 40, 40, 0.5);
}

.fourthColor {
    -fx-background-color: rgba(78, 88, 97, 0.5);
}

.firstColor {
    -fx-background-color: rgba(129, 145, 161, 0.5);
}

.round {
    -fx-background-radius: 10px;
}

.round2 {
    -fx-background-radius: 30px;
}

.width {
    -fx-border-width: 2px;
    -fx-border-color: gray;
    -fx-border-radius: 10px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5) , 10, 0 , 9 , 9) ;
}

.shadow2 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3) , 10, 0 , 9 , 9);
}

.BtShadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 7, 0, 2, 2);
}
